html, body {
    padding: 0;
    margin: 0;
    background-color: bisque;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    text-align: center;
}

.main-container {
    margin: 0px auto;
    background-color: rgb(142, 141, 141);
    width: 600px;
    height: 600px;
    border-radius: 5%;   
}

.brand {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}
/*
colors
rgba(9, 19, 41, 0.771)
*/

.mark {
    background-color: rgb(183, 183, 183);
    padding: 1.5em;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 5.25%;
}

.screen {
    background-color: rgba(107, 255, 149, 0.681);
    border-radius: 10px;
    width: 100%;
    padding: 1.5em 0px;
    margin: 0px auto;
}

.output {
    font-size: 50px;
    text-align: right;
    margin-right: 5%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row-reverse;
    width: 60%;
    margin: 1em;
}

.numbers button {
    width: 30%;
    height: 20%;
    font-size: 24px;
    margin: 2.5% 0px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0px none;
    margin-left: 9px;
    display: block;
    background-color: black;
    color:wheat;
    
}

/*operators*/

.operators {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 30%;
    margin: 0px 1em;
    margin-top: 2.65%;
}

.operators button {
    width: 40%;
    height: 27.25%;
    font-size: 24px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0px none;
    display: block;
    background-color: orange;
    margin: 8.5px 5px;
    
}

.operators button:hover {
    background-color: rgb(254, 192, 77);
}

.numbers button:hover {
    background-color: rgb(18, 66, 76);
}

.buttons-container {
    display: flex;
    height: 399px
}

#equal {
    color: wheat;
    background-color: rgb(255, 56, 56);
}

#equal:hover {
    background-color: rgb(255, 102, 102)
}

#undo {
    color: wheat;
    background-color: rgb(0, 104, 152) ;
}

#undo:hover {
    background-color:  rgb(45, 172, 223);
}
#reset {
    color: wheat;
    background-color: rgb(50, 52, 194);
}

#reset:hover {
    background-color:  rgb(130, 134, 250);
}

footer {
    background-color: rgba(255, 61, 61, 0.719);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 3em;
}

footer div {
    margin-top: 1em;
}